# Python Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/

# Our large data and model files
data/
models/*
*.csv

# CatBoost log files
catboost_info/

# Generated output plots and figures
output/

# Catboost log files
catboost_info/

# Generated output plots and figures
output/
*images/